* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 25px;
}

img {
  height: 30px;
  width: 40px;
}

table {
  border: 2px solid rgb(72, 72, 74);
}

td {
  border: 2px solid rgb(122, 122, 136);
}
body {
  margin-left: 20px;
}
